apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: 23.0.0
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: capi-cluster
  namespace: argocd
spec:
  destination:
    namespace: capi-cluster
    server: https://kubernetes.default.svc
  sources:
    - repoURL: git@github.com:Obmondo/KubeAid.git
      path: argocd-helm-charts/capi-cluster
      targetRevision: 23.0.0
      helm:
        valueFiles:
          - $values/k8s/kbm/argocd-apps/values-capi-cluster.yaml
    - repoURL: git@github.com:kanha-gupta/kubeaid-config.git
      targetRevision: HEAD
      ref: values
  project: kubeaid
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
  ignoreDifferences:
    - group: cluster.x-k8s.io
      kind: MachineDeployment
      jsonPointers:
        - /spec/replicas
    - group: infrastructure.cluster.x-k8s.io
      kind: HetznerCluster
      jsonPointers:
        - /spec/controlPlaneEndpoint/host
    
    - group: infrastructure.cluster.x-k8s.io
      kind: HetznerBareMetalHost
      jsonPointers:
        - /metadata/annotations/capi.syself.com~1wipe-disk
